<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ 'style.css' | relative_url }}">
</head>
<body>
  <header class="site-header">
    <div class="logo">
      <a href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/images/Systhetic_black_transparent.png' | relative_url }}" alt="Logo">
      </a>
    </div>
    <nav class="main-nav">
      {% if page.header == "portfolio" %}
        <a href="{{ '/portfolio/' | relative_url }}">Portfolio</a>
        <a href="{{ '/internships/' | relative_url }}">Internships</a>
        <a href="{{ '/projects/' | relative_url }}">Projects</a>
      {% else %}
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/about/' | relative_url }}">About</a>
        <a href="{{ '/contact/' | relative_url }}">Contact</a>
      {% endif %}
    </nav>
  
  </header>
  <div class="header-spacer"></div>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>© 2025 Your-Business-Name | 123 Mockingbird Ln, Sherbrooke QC | (555) 123-4567 | info@example.com</p>
  </footer>

  <script src="{{ '/assets/js/project-carousel.js' | relative_url }}"></script>
</body>
</html>
